body{
  background-color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  height: 80%;
}
.sectionstyle{
width: 55%;
height: 50%;
float: right;
margin-left: 8px;
}
.img{
  width: 45%;
  height: 40%;
}