body{
  background-color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10%;
}
.sectionstyle{
float: right;
margin-left: 2px;
}
.img{
  float: left;
  width: 35%;
  height: 40%;
  margin-right: 4px;
}
.foot{
  float: inline-end;
}